.cs-stars {
    display: flex;
    &--star {
        position: relative;
        .mat-icon {
            width: auto;
            height: auto;
        }
    }
    &--selectL {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &--selectR {
        position: absolute;
        top: 0;
        z-index: 2;
    }
}