.cs-new-spot-section {
    font-size: 16px;
    &--title {
        color: #529BE0;
        font-size: 1.3em;
        font-weight: 500;
        padding-top: 1em;
    }
    &--content {
        color: #767676;
        padding: 0.5em 0;
    }
}