.cs-new-spot {
    font-size: 16px;
    position: relative;
    top: 10%;
    left: max(0px, 2.5%);
    z-index: 1000;
    background-color: white;
    width: 28em;
    max-height: 40em;
    transform-origin: top left;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    &--topBar {
        position: sticky;
        top: 0;
        background-color: white;
        display: flex;
        padding: 2em;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        &__title {
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
        }
    }
    &--opinionSection  {
        display: flex;
        flex-direction: column;
        padding: 0em 2em 2em 2em;
        overflow: auto;
        max-height: 27em;
    }
    &--form {
        display: grid;
        grid-template-columns: 1fr;
        &>*{
            padding: 0.5em 0;
        }
        mat-hint {
            color: #767676;
        }
        &__textarea {
            min-height: 100px;
        }
    }
    &--bottomBar {
        position: sticky;
        bottom: 0;
        right: 0;
        padding: 1em 2em;
        display: flex;
        justify-content: flex-end;
        gap: 2em;
        background-color: white;
        border-top: 1px solid #CBE1F6;
        button {
            padding: 1em;
            font-size: 1.2em;
        }
    }
    &--address {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        &__title {
            color: #529BE0;
            font-size: 1.3em;
            font-weight: 500;
        }
    }
}